:root{
  --bs-primary: #de968d;
  --bs-primary-rgb:222, 150, 141;
  --bs-white:#ffffff;
  --bs-secondary: #ADACAC;
  --bs-secondary-rgb:173, 172, 172;
}
body{
  font-family: 'DM Sans';
}
p{
  margin: 0;
}
.btn{
  padding: 15px 40px;
  background-color: var(--bs-primary);
  color: var(--bs-white);
  letter-spacing: 3px;
  font-size: 14px;
  transition: all  0.35s ease; 
}
.btn:hover{
  background-color: #121f38;
  color: var(--bs-white);
}
header{
  border-bottom: 1px solid #FFFFFF33;
  background-color: transparent;
}
.banner{
  background-image: url(../img/h1-slider1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
  padding: 350px 0px;
}
.banner-contant h1{
  font-size: 120px;
  font-family:'Marcellus';   
}
.title h4{
  font-size: 16px;
  color: var(--bs-primary);
}
.title h2{
  font-size: 64px;
  font-family: 'marcellus';
}
.Products{
  position: absolute;
  bottom: 20px;
  background-color: var(--bs-white);
}
.bg{
  background-color: #fcf5f5;
  height: 840px;
  width: 800px;
  padding: 100px;
}
.bg h2{
  font-size: 64px;
  font-family: 'marcellus';
}
.about-us img{
  margin-left: -90px;
}
.Service .card{
  background-color: #fcf5f5;
  height: 350px;
}
.Service .card:hover{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Service .scrub-massage:hover{
  background-image: url(../img/service_8.jpg);
}
.Service .tissue-massage:hover{
  background-image: url(../img/service_7.jpg);
}
.Service .facial-treatments:hover{
  background-image: url(../img/service_5.jpg);
}
.Service .collagen-treatments:hover{
  background-image: url(../img/service_4.jpg);
}
.Service .massage-therapy:hover{
  background-image: url(../img/service_6.jpg);
}
.Service .laser-deep-cleaning:hover{
  background-image: url(../img/service_3.jpg);
}
.Service .body-wrap:hover{
  background-image: url(../img/service_1.jpg);
}
.Service .reflexology:hover{
  background-image: url(../img/service_2.jpg);
}
.Service .card:hover .card-body{
  display: none;
}
.Service .card-title{
  font-family:'marcellus';
}
.offer{
  background-image:url(../img/H1-img-4-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding: 130px;
}
.offer-text{
  font-size: 64px;
  font-family: 'marcellus';  
}
.price-contant{
  display: flex;
  align-items: center;
}
.price-contant h4{
  font-family: 'marcellus';
}
.price-contant h5{
  font-size: 14px;
  color: #656565;
}
.package-name{
  display: flex;
  position: relative;
}
.package-name h4{
  position: relative; 
}
.package-name h4::after{
  position: absolute;
  content: '';
  width: 100%;
  left: 102%;
  top: 70%;
  border-top: 1px dashed #656565;
}
.package-name h5{
  font-family: 'marcellus';
}
.our-team .card-body h4{
  font-family:'marcellus' ;
  color: #121f38;
}
.our-team .card-body h5{
  color: #656565;
}
.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--bs-white);
  padding: 13px;
}
.icon:hover{
  background-color: var(--bs-primary);
  color: var(--bs-white);
  border: none;
}
.social-icon{
  bottom: 30%;
  display: none; 
}
.our-team .card:hover .social-icon{
  display: block;
  display: flex;
}
.appointment{
  background-image: url(../img/H1-img-5-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px;
}
.form{
  background-color: var(--bs-white);
  padding: 100px;
}
textarea{
  resize: none;
}
.hours{
  height: 70px;
  width: 70px;
  background-color: var(--bs-primary);
  border-radius: 50%;
  padding: 15px;
}
.hours:hover{
  background-color: #121f38;
}
.detail h4{
  font-family:'marcellus';
}
.detail h5{
  color: #656565;
}
.contant{
  padding-top: 100px;
}
.datepicker{
  padding: 10px;
  cursor: pointer;
}
.datepicker-days th.dow {
  padding: 5px;
  text-align: center;
}
.datepicker-days td.old.day, .datepicker-days td.day {
  text-align: center;
} 
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  /* medium and up screens */
  @media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
  }
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
.carousel-item .card{
  padding:0px 15px ;
}
.blog .card-img img{
  height: 500px;
  object-fit: cover;
}
.blog .card-title{
  font-family: 'marcellus';
}
.card-body h6{
  color: #656565;
}
.card-body h6::after{
  content:'' ;
  border-left: 2px solid #adacac;
  margin-left: 15px;
  margin-right: 15px;
}
.gallery-img{
  display:grid ;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 30px;
}
.gallery-img .wide {
  grid-column: span 2;
}
.footer{
  background-color: #121f38;
  padding: 100px 0px;
}
.footer-icon .icons{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--bs-white);
  padding: 5px;
  font-size: 12px;
}
.footer-icon .icons:hover{
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}
.footer h3{
  font-family: 'marcellus';
}
.footer-contant{
  padding-bottom: 120px;
  border-bottom: 1px solid #FFFFFF26;
}